<!DOCTYPE html>


<html lang="en">

    <head>

        <meta name="viewport" content="initial-scale=1, width=device-width" charset="utf-8">
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu|Poppins">
        <link rel="icon" href="/static/icon.png" type="image/x-icon" >
        <title> Home </title>
        
    </head>

    <body style="align-items: center;">

        <div class='navbar'>

        <ul>
            <li id='icon'><a href='/'> <img src='/static/nav_logo_techsac.png' alt='icon'> </a></li>
            <li> <a href='/clubs'> Clubs </a> <div class="semi-circle"></div></li>
            <li> <a href='/about'> About </a> <div class="semi-circle", style="width:120px"></div></li>
            <li> <a href='/joy'> Joy of Giving </a> <div class="semi-circle", style="width:120px"></div></li>
        </ul>
        </div>

        <div style="margin: auto; width: 85%;">
        <div class="word-island">
            <b> Technical Clubs </b> <br/><br/><br/> <div style='font-size : 60px;'>13</div> 
        </div>
        <div class="word-island">
            <b> Competitive Teams </b> <br/><br/><br/> <div style='font-size : 60px;'>6</div> 
        </div>
        <div class="word-island">
            <b> Esteemed Awards </b> <br/><br/><br/> <div style='font-size : 60px;'>10+</div> 
        </div>
        <div class="word-island">
            <b> Annual Events </b> <br/><br/><br/> <div style='font-size : 60px;'>50+</div> 
        </div>
        <div class="word-island">
            <b> Sponsors </b> <br/><br/><br/> <div style='font-size : 60px;'>20+</div> 
        </div>
        </div>

        <div>
        <h2 style="font-family: Poppins">Discover Technical Excellence: Welcome to Technical Affairs at IIITDM </h2>
        <p style="font: 20px Poppins">
            <img src="/static/about_tech.png" style="width:300px; height:200px; float: right; margin-bottom: 30px;">
            
            The Technical Affairs of Student Affairs Council at IIITDM Kancheepuram plays a dynamic role in
            fostering and overseeing all technical initiatives, events, and projects within the institute.
            Comprising dedicated coordinators, faculty, and student members, the council is ardently engaged in 
            elevating the technological landscape of the institute through proactive management and promotion of various
            technical endeavors.
        </p></div>

        <div>
        <h2 style="font-family: Poppins"> Technical Clubs </h2>
        <p style="font: 20px Poppins">
            <img src="/static/clubs.png" style="width:300px; height:300px; float: right;">
            
            Dive into a realm of technical prowess at Technical Affairs, IIITDM Kancheepuram, where we take immense 
            pride in hosting acclaimed technical clubs and teams renowned for their outstanding achievements on the 
            international stage. Our vibrant community includes student chapters affiliated with prestigious institutions 
            such as the American Society of Mechanical Engineers (ASME), Institute of Electrical and Electronics Engineers 
            (IEEE), Optica (Optical Society of America), and GeeksforGeeks. These associations have not only garnered 
            accolades but have also evolved into dynamic student research groups within our institute. Join us in 
            celebrating the spirit of innovation, collaboration, and excellence that defines our technical landscape.
        </p></div>

        <div>
        <h2 style="font-family: Poppins">Our Annual Techfest Vashisht </h2>
        <p style="font: 20px Poppins">
            <img src="/static/vashisht.png" style="width:300px; height:250px; float: right; margin-bottom: 20px;">
            
            Vashisht is a much awaited three-day tech-fest that assessed participants in a variety of subjects, from 
            robots to entrepreneurship, coding to designing. It inspired a love of technology, opening students' eyes 
            to new avenues for creativity and drawing more than 3000+ pupils from all across the nation. At Vashisht, 
            we are more than just a festival; we are a movement. Our goal is to build a technically engaged community 
            that thrives on technical activities, not merely for entertainment but as a means of community building, 
            ideation, and sharing groundbreaking ideas.
        </p></div>

    </body>

</html>
